<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
    {% if 'username' in request.session %}
    <a class="btn btn-danger btn-sm float-right" href="{% url 'logout' %}">Logout</a>
    <p class="lead"><span class="btn btn-outline-primary">{{request.session.agentName}}</span> is logged in</p>
    <a class="btn btn-primary btn-sm" href="{% url 'newCall' %}">New Call</a>
    <div class="container-fluid border w-100 mt-5">
    <h1 class="display-3 text-center">Calls by Agent</h1>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Call Nature</th>
            <th>Remark</th>
            <th>Action</th>
            <th>Approval</th>
            <th>Date and Time</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
            {% for c in call %}
          <tr>
            <td>{{c.callNature}}</td>
            <td>{{c.remark}}</td>
            <td>{{c.action}}</td>
            <td>{{c.approval}}</td>
            <td>{{c.time}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'editCall' pk=c.id %}">Edit</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>

    {% else %}    
    <a href="{% url 'Login' %}">Login</a>
    {% endif %}
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>